<!DOCTYPE html>
    <html lang = "en">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <head>
        <title>
            Employee Roster
        </title>
    </head>



    <body>
        <div id = "header">
            <nav class = "level">
                <div class = "level-left">
                    <div class = "level-item">
                        <p id = "logo"> Employee Roster </p>
                    </div>

                </div>

                <div class = "level-right">
                    <div class = "level-item">

                    </div>
                </div>
            </nav>
        </div>



        <div class = "tile is-ancestor">
            <div id = "roster" class = "tile is-vertical is-10">
                <div class = "tile is-parent"></div>
                <div class = "tile is-child">
                   <div class = "tile is-horizontal is-2">
                    <div class = "tile is-parent">
                        Employee
                    <div>
                        <div class = "tile is-child">
                            <ul>
                                <li> ID: ID </li>
                                <li> Type </li>
                                <li> Description </li>
                            </ul>
                        </div>
                   </div>
                </div>
            </div>
        </div>


    </body>


</html>
